@model ModelLibrary.Models.FaturalananPersonelAylikSaat

<h4>Faturalanan</h4>
<hr />


<input type="hidden" asp-for="PERSONEL_ID" class="form-control" />
<div class="form-group">
    <label asp-for="FOCAK" class="control-label"></label>
    <input asp-for="FOCAK" class="form-control" />
    <span asp-validation-for="FOCAK" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="FSUBAT" class="control-label"></label>
    <input asp-for="FSUBAT" class="form-control" />
    <span asp-validation-for="FSUBAT" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="FMART" class="control-label"></label>
    <input asp-for="FMART" class="form-control" />
    <span asp-validation-for="FMART" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="FNISAN" class="control-label"></label>
    <input asp-for="FNISAN" class="form-control" />
    <span asp-validation-for="FNISAN" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="FMAYIS" class="control-label"></label>
    <input asp-for="FMAYIS" class="form-control" />
    <span asp-validation-for="FMAYIS" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="FHAZIRAN" class="control-label"></label>
    <input asp-for="FHAZIRAN" class="form-control" />
    <span asp-validation-for="FHAZIRAN" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="FTEMMUZ" class="control-label"></label>
    <input asp-for="FTEMMUZ" class="form-control" />
    <span asp-validation-for="FTEMMUZ" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="FAGUSTOS" class="control-label"></label>
    <input asp-for="FAGUSTOS" class="form-control" />
    <span asp-validation-for="FAGUSTOS" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="FEYLUL" class="control-label"></label>
    <input asp-for="FEYLUL" class="form-control" />
    <span asp-validation-for="FEYLUL" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="FEKIM" class="control-label"></label>
    <input asp-for="FEKIM" class="form-control" />
    <span asp-validation-for="FEKIM" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="FKASIM" class="control-label"></label>
    <input asp-for="FKASIM" class="form-control" />
    <span asp-validation-for="FKASIM" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="FARALIK" class="control-label"></label>
    <input asp-for="FARALIK" class="form-control" />
    <span asp-validation-for="FARALIK" class="text-danger"></span>
</div>



